html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  height: 100%;
}

@font-face {
  font-family: Raleway;
  src: url(assets/Raleway/Raleway-VariableFont_wght.ttf);
  font-weight: lighter;
}
